<footer>
  <table>
    <tr>
      <td width="250">
        <div id="prem-logo">
          <a href="http://www.premierleague.com/">
          <img src="http://www.dangerhere.com/wp-content/uploads/2013/03/epl-logo.jpg" height="100" width="200">
          </a>
        </div>
      </td>
      <td vertical-align="top">
        <div id="technologies">
          This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
        </div>
      </td>
    </tr>
  </table>
</footer>
