<footer>        
  <p id="foot_img"><a href="http://www.premierleague.com/">
  <img src="http://www.dangerhere.com/wp-content/uploads/2013/03/epl-logo.jpg" height="100" width="200">
  </a>
  </p>

  <p id="technologies">This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.</p>

  </footer>
