<header>
  <div id="logo"><a href="/">Bookmark Manager</a><a href="links/new" id="add_link">Add Link</a></div>
  <div id="user-links">
    <% if current_user %>
      <span id="welcome-message">
        Welcome, <%= current_user.email %>
      </span>

      <form method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
      <% else %>
        <span class="header_buttons"><a href="/users/new" id="sign-up">Sign up</a>
        <a href="/sessions/new" id="sign-in">Sign in</a></span>
      <% end %>
    </div>
</header>


