<html>
<head>

<link type="text/css" rel="stylesheet" href ="./reset.css">
<link type="text/css" rel="stylesheet" href ="./document.css">

</head>


<body>

<%= erb :_welcome %>
<%= erb :_flash %>

<%= yield %>

</body>
</html>