<html>
<head>

<script src="http://cufon.shoqolate.com/js/cufon-yui.js" type="text/javascript"></script>
<script src="premier-league.cufonfonts.js" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('.premierleague', { fontFamily: 'PremierLeague', hover: true }); 
</script>


<link type="text/css" rel="stylesheet" href ="/reset.css">
<link type="text/css" rel="stylesheet" href ="/document.css">

</head>


<body>

<%= erb :_welcome %>
<%= erb :_flash %>

<%= yield %>

<%= erb :_footer %>

</body>
</html>