body {
  background-image: url(http://up.barfgraph.ir/up/barfgraph/Pictures/Post-Image/Trend%20color%20neon%20background002.jpg);
  background-size: 105%;
}

header {

  background-color: #2c3e50;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;

}


header a {

  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  font-family: Helvetica;
  vertical-align: middle;

}


.header_buttons {

    position: fixed;
    top: 15px;
    right: 0px;
    vertical-align: middle;

}

#add_link {


    background-color: #2980b9;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 26px;
    vertical-align: middle;
    padding: 5px;
    padding-left: 6px;
    font-family: Helvetica;
    text-decoration: none;
    margin-left: 10px;

}

#sign-in {

    background-color: #16a085;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 26px;
    vertical-align: middle;
    padding: 5px;
    padding-left: 6px;
    font-family: Helvetica;
    text-decoration: none;
    margin-left: 10px;

}


#sign-up {

    background-color: #16a085;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 26px;
    vertical-align: middle;
    padding: 5px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Helvetica;
    text-decoration: none;
    margin-right: 0px;

}