<p class="intro">

Please enter your email.
</p>

<p id="margin">
<form action="/users/forgot_password" method="post">

<input type="text" name="email">

<input type="submit" value="I forgot my password">

</form>
</p>

